body {
    font-family: 'Fira Sans', sans-serif;
    margin: 0;

}

h1 {
    font-size: 50px;

}

.flexible-container {
    background-image: url(images/donation6.jpg);
    background-repeat: no-repeat;
    background-position: cover;
    height: 800px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 10%;
}

p {
    font-size: 20px;
}

.button {
    background-color: rgba(255, 0, 0, 0.582);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    padding: 20px 20px;
    border: 2px solid white;
    border-radius: 8px;
    margin-top: 20px;


}

a:hover {
    color: rgb(255, 255, 255);
    background-color: black;
    box-shadow: 10px 10px 40px rgb(112, 111, 111);

}

#Lets-Help {
    color: rgb(255, 44, 44);
}

.Donate-Today {
    text-align: center;
    margin-top: 5%;
    padding-top: 2%;
    font-size: 30px;


}

.donate-box {
    margin-right: 20%;
    margin-left: 20%;
    display: flex
}

.donate-taka {
    background-color: aliceblue;
    padding: 30px;
    margin: 5px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 700;


}

#donate-taka2 {
    color: crimson;
    background-color: rgba(250, 34, 77, 0.541);
    border: 1px solid rgb(95, 32, 38);
    border-radius: 5px;
}

.donate-box2 {
    text-align: center;

}

.donate-now {
    padding: 5%;
    margin-top: 20px;
    color: rgb(131, 131, 131);
}


.box3 {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    height: 30%;
   

}

#box1 {
    margin-left: 10px;
    margin-right: 10px;
    padding: 30px 15px;
    border-radius: 20px;
    width: 33%;

    background-color: rgb(238, 206, 206);

}

#box2 {
    margin-left: 10px;
    margin-right: 10px;
    padding: 30px 15px;
    border-radius: 20px;
    width: 33%;

    background-color: rgb(177, 225, 247);
}

#box3 {
    margin-left: 10px;
    margin-right: 10px;
    padding: 30px 15px;
    border-radius: 20px;
    width: 33%;

    background-color: rgb(229, 250, 201);
}

.your-donation {
    display: flex;

}

.half-widht {
    width: 50%;
    margin-top: 10%;
    padding-left: 10%;
    padding-right: 10%;

}

.Get-My-Updates {
    text-align: center;
    font-size: 30px;
}



.email {
    display: flexbox;

    padding-left: 10%;
    padding-right: 10%;
    height: 200px;

    background-color: rgb(250, 179, 194);
    margin-left: 20%;
    margin-right: 20%;


}

input {
    font-size: 20px;
    position: relative;
    top: 50%;
    left: 30%;
    border-radius: 10px;
    outline: none;
    padding: 10px;
    border: none;

}

#submit {
    background-color: rgb(255, 103, 103);

}

footer {
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(0, 0, 0);
    height: 100px;
}

samp {
    font-size: 30px;
    color: rgb(248, 62, 99);
}